<!DOCTYPE html>
<html lang="ja-JP">
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8"/>
        <title>Craft Blog</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" name="viewport">
    <meta content="origin-when-cross-origin" name="referrer">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <link href="//fonts.googleapis.com/css?family=Work+Sans:600&family=Quattrocento+Sans:400,400i,700" rel="stylesheet" type="text/css">

                        <link rel="stylesheet" href="/assets/dist/main.501c3b6a7832ba55b17e.css">
    
  </head>
  <body class="ltr">
    <nav class="container mx-auto py-4 px-4" role="navigation" aria-label="Main">
                  <ul class="flex">
        <li class="mr-6">
                    <a class="text-blue-600 " href="/">Home</a>
        </li>
        <li class="mr-6">
          <a class="text-blue-600 border-b border-blue-400" href="/about/">About</a>
        </li>
        <li class="mr-6">
          <a class="text-blue-600 border-b border-blue-400" href="/sample/">Sample</a>
        </li>
      </ul>
    </nav>

    <div class="container mx-auto px-4">
              <h1 class="text-4xl text-black font-display my-4">AboutAbout</h1>

    <div class="rich-text clearfix">
  <p>あいうえお</p>
<p>かきくけこ</p>
<p>さしすせそ</p>
</div>
  
  
    <h1>Search</h1>
<div id="component-pmpiml" class="sprig-component" hx-target="this" hx-include="#component-pmpiml *" hx-trigger="refresh" hx-get="https://starter-blog-test.bit-part.cfbx.jp/index.php?p=actions/sprig/components/render" hx-vals="{&quot;sprig:siteId&quot;:&quot;7dd8edea3fb48c443d5672c70caf8edfc6071625d0b787784c2cb8f6e02c83fd1&quot;,&quot;sprig:template&quot;:&quot;9fb94d556649fbd24bba2e2a593865403ac21ae7f7e9a0d9bd00def7ecbcdf6d_components\/search&quot;}">
<input sprig="" s-trigger="keyup changed" s-replace="#results" type="text" name="query" value="" placeholder="Search" hx-get="https://starter-blog-test.bit-part.cfbx.jp/index.php?p=actions/sprig/components/render" hx-trigger="keyup changed" hx-select="#results" hx-target="#results" hx-swap="outerHTML">

<div id="results">
  </div></div>

<script src="https://starter-blog-test.bit-part.cfbx.jp/cpresources/b0d226/htmx-1.0.0.js?v=1607899702"></script>
  
    </div>

    <footer class="page-footer">
            &copy; 2020, Built with <a class="text-blue-600" href="https://craftcms.com">Craft CMS</a>
    </footer>

          </body>
</html>
<!-- Cached by Blitz on 2020-12-13T15:00:42-08:00 -->